#ply-sheets {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5rem;
    overflow: auto;
}

.ply-sheet__graphic {
    stroke: #000;
    fill: #aaa;
    stroke-width: 1;
}

.ply-sheets__controls {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 0.5rem;
}

.ply-sheets__controls > div {
    margin-right: 0.5rem;
}